@media screen and (max-width: 768px){
    h1,h2{
        font-size: 27px !important;
    }
    body{
        font-size: 16px !important;
    }
}
@media screen and (min-width: 769px){
    .aboutPara{
        padding-right: 70px;
    }
}